.drop{

  padding-top:12px;
  padding-left: 9px;
margin-top: -6px;

}
body{
  background-color:#CC00CC ;
}
#color{
  color: white;
  text-align: center;
}
.header{
  background-color: #990099;
}
.text-box{
  inline:block;
    padding-top: 20px;
    padding-left: 300px;
  margin-top: 12px;
  margin-left: -6px;
}
.block{
  inline:block;
  margin-left: 30px;
  padding: 15px 15px 15px 15px;
  margin-top:-10px;
}
.text-search{
  inline:block;
}
.btn-search{
  inline:block;
}
